In [65]:
import pandas as pd
from datetime import datetime
import numpy as np
from scipy import stats 

ufo_file = "ufoSightings.csv"

In [66]:
ufo_df = pd.read_csv (ufo_file, delimiter= ",")
ufo_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778

In [67]:
us_df = ufo_df[ufo_df["country"] == "us"]
us_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.408333
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6528,-97.477778

In [68]:
cape_df = us_df[us_df["city"] == "cape girardeau"]
cape_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
22896,1/26/2002 21:45,cape girardeau,mo,us,circle,60,1 minute,Circular object appears to &quot;float&quot; o...,2/22/2002,37.3058333,-89.518056
25331,1/8/2013 17:00,cape girardeau,mo,us,cigar,180,3 minutes,Strange Sight About Cape,2/4/2013,37.3058333,-89.518056
26700,2/15/2004 23:00,cape girardeau,mo,us,triangle,60,1min,i was on my carport and looked over by the str...,11/28/2007,37.3058333,-89.518056
28322,2/23/2014 23:00,cape girardeau,mo,us,unknown,120,2 minutes,2 Perfect White Circles hovering extremely low...,2/27/2014,37.3058333,-89.518056
34756,3/5/1999 1:00,cape girardeau,mo,us,unknown,900,15 minutes,2 fast objects chased by planes.,9/17/2000,37.3058333,-89.518056
40612,4/6/2014 4:00,cape girardeau,mo,us,circle,1,1 second,I was at work at McDonald&#39s&#44 it was arou...,4/11/2014,37.3058333,-89.518056
44130,5/24/2005 23:15,cape girardeau,mo,us,egg,600,10 min,Very large &#44stationary&#44illuminated like ...,5/28/2005,37.3058333,-89.518056
51590,6/24/2012 21:55,cape girardeau,mo,us,light,30,30 seconds,Bright green/yellow light traveling nw to se a...,7/4/2012,37.3058333,-89.518056
52480,6/29/2008 19:00,cape girardeau,mo,us,oval,900,15 minutes,5 silver&#44 oval shaped objects moving slowly...,7/5/2008,37.3058333,-89.518056
52615,6/30/1956 13:00,cape girardeau,mo,us,diamond,300,5 minutew,Angular UFO sighted as a child,12/12/2011,37.3058333,-89.518056
53208,6/30/2011 22:08,cape girardeau,mo,us,light,120,2 mins,Orange Light passing over city&#44 silent.,7/4/2011,37.3058333,-89.518056
61183,7/31/2012 23:15,cape girardeau,mo,us,diamond,1425,23:45,3 Multi-colored possibly diamond shaped UFOs,8/5/2012,37.3058333,-89.518056
61207,7/3/1990 22:00,cape girardeau,mo,us,sphere,300,5 minutes,I heard two men talking to each other and one ...,12/12/2009,37.3058333,-89.518056
65205,8/1/2012 22:45,cape girardeau,mo,us,oval,7200,2 hrs at least,Green orb over Cape Girardeau&#44 MO Aug 1&#44...,8/19/2012,37.3058333,-89.518056
76811,9/22/1973 18:02,cape girardeau,mo,us,disk,1200,20 minutes,I watched a disk-shaped craft hover above tree...,9/17/2000,37.3058,-89.518056

In [69]:
us_df.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [70]:
years = []

for entry in us_df.datetime:
    try:
        dt = datetime.strptime(entry, "%m/%d/%Y %H:%M")
        # print(dt.year)
        years.append(dt.year)
    except ValueError:
        nothing = 0 
print(sum(years)/ len(years))
print(sorted(years)[int(len(years) / 2)])
print(stats.mode(np.array(years)))

2004.1291874912963
2007
ModeResult(mode=array([2012]), count=array([6282]))

In [71]:
def mapping(x):
    if "/" in x:
        return x
    else:
        return 0
us_df.datetime = us_df.datetime.apply(mapping)
us_df.datetime = us_df.datetime[us_df.datetime != 0]

In [72]:
us_df["datetime"] = us_df["datetime"].astype("datetime64")

In [73]:
us_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65114 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              64627 non-null  datetime64[ns]
 1   city                  65114 non-null  object
 2   state                 65114 non-null  object
 3   country               65114 non-null  object
 4   shape                 63561 non-null  object
 5   duration (seconds)    65114 non-null  object
 6   duration (hours/min)  65114 non-null  object
 7   comments              65101 non-null  object
 8   date posted           65114 non-null  object
 9   latitude              65114 non-null  object
 10  longitude             65114 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 6.0+ MB

In [74]:
us_df = us_df.dropna()
us_df = us_df.drop(columns = ["date posted"])

In [79]:
us_df.city = us_df.city.astype("category")
us_df.state = us_df.state.astype("category")
us_df.country = us_df.country.astype("category")
us_df["shape"] = us_df["shape"].astype("category")
us_df.city

0        san marcos
3              edna
4           kaneohe
5           bristol
7           norwalk
            ...
80327     nashville
80328         boise
80329          napa
80330        vienna
80331        edmond
Name: city, Length: 63099, dtype: category
Categories (11175, object): [abbeville, abbeville (lake secession), aberdeen, abilene, ..., zionsville, zortman, zumbrota, zwolle]